<div class="app-contact">
  <%- include('../../../partials/adminHeader.ejs') %>
    <div class="contact-wrapper">
      <div class="contact-navleft">
        <nav class="nav flex-column">
          <a href="#offCanvas3" class="nav-link active off-canvas-menu" data-toggle="tab">
            <span data-toggle="tooltip" title="Add New Counselor" data-placement="right"><i
                data-feather="users"></i></span>
          </a>
        </nav>
      </div><!-- contact-navleft -->
      <div class="contact-sidebar">
        <div class="contact-sidebar-header">
          <i data-feather="search"></i>
          <div class="search-form">
            <input type="search" class="form-control" placeholder="Search contacts">
          </div>
        </div><!-- contact-sidebar-header -->
        <div class="contact-sidebar-body">
          <div class="tab-content">
            <div id="tabContact" class="tab-pane fade active show">
              <div class="pd-y-20 pd-x-10 contact-list">
                <label id="contactA" class="contact-list-divider">A</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><span
                      class="avatar-initial rounded-circle bg-gray-700">A</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Abigail Johnson</h6>
                    <span class="tx-12">+1-234-567-890</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->

              </div><!-- contact-list -->
            </div><!-- tab-pane -->
            <div id="tabPhoneCall" class="tab-pane fade">
              <div class="pd-y-20 pd-x-10 contact-list">
                <label class="contact-list-divider">Recently Contacted</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                      class="rounded-circle" alt=""></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Camille Audrey</h6>
                    <span class="tx-12">+1-234-567-890</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-offline"><span
                      class="avatar-initial rounded-circle bg-success">E</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Elvis Vircede</h6>
                    <span class="tx-12">+63929-123-4567</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
              </div><!-- contact-list -->
            </div><!-- tab-pane -->
            <div id="tabFavorites" class="tab-pane fade">
              <div class="pd-y-20 pd-x-10 contact-list">
                <label class="contact-list-divider">My Favorites</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                      class="rounded-circle" alt=""></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Archie Cantones</h6>
                    <span class="tx-12">archie@cantones.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                      class="rounded-circle" alt=""></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Brenda Aceron</h6>
                    <span class="tx-12">brenda@aceron.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><span
                      class="avatar-initial rounded-circle bg-indigo">B</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Brandibelle Yap</h6>
                    <span class="tx-12">byap@urmail.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                      class="rounded-circle" alt=""></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Camille Audrey</h6>
                    <span class="tx-12">+1-234-567-890</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-offline"><span
                      class="avatar-initial rounded-circle bg-success">E</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Elvis Vircede</h6>
                    <span class="tx-12">+63929-123-4567</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
              </div><!-- contact-list -->
            </div><!-- tab-pane -->
            <div id="tabTags" class="tab-pane fade">
              <div class="pd-y-20 pd-x-10 contact-list">
                <label class="contact-list-divider">My Family</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><span
                      class="avatar-initial rounded-circle bg-gray-700">A</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Abigail Johnson</h6>
                    <span class="tx-12">+1-234-567-890</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                      class="rounded-circle" alt=""></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Archie Cantones</h6>
                    <span class="tx-12">archie@cantones.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <label class="contact-list-divider">My Friends</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><span
                      class="avatar-initial rounded-circle bg-primary">a</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Allan Rey Palban</h6>
                    <span class="tx-12">allanr@palban.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-offline"><span
                      class="avatar-initial rounded-circle bg-primary">D</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Daniel Calinawan</h6>
                    <span class="tx-12">daniel@youremail.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <div class="media">
                  <div class="avatar avatar-sm avatar-offline"><span
                      class="avatar-initial rounded-circle bg-success">E</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Elvis Vircede</h6>
                    <span class="tx-12">+63929-123-4567</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
                <label class="contact-list-divider">My Officemates</label>
                <div class="media">
                  <div class="avatar avatar-sm avatar-online"><span
                      class="avatar-initial rounded-circle bg-gray-700">E</span></div>
                  <div class="media-body mg-l-10">
                    <h6 class="tx-13 mg-b-3">Elena Salubre</h6>
                    <span class="tx-12">e.salubre@myemail.com</span>
                  </div><!-- media-body -->
                  <nav>
                    <a href=""><i data-feather="star"></i></a>
                    <a href=""><i data-feather="edit-2"></i></a>
                  </nav>
                </div><!-- media -->
              </div><!-- contact-list -->
            </div><!-- tab-pane -->
            <div id="tabExport" class="tab-pane fade">
              <div class="pd-y-25 pd-x-20">
                <h6 class="tx-12 tx-semibold tx-spacing-1 tx-uppercase">Export Contacts</h6>
                <p class="tx-13 tx-color-03 mg-b-20">You can export your contacts and import them into other email apps.
                </p>
                <div class="form-group">
                  <label class="tx-13">Which contacts do you want to export?</label>
                  <select class="custom-select tx-13">
                    <option value="1" selected>All Contacts</option>
                    <option value="2">My Favorites</option>
                    <option value="3">My Family</option>
                    <option value="4">My Friends</option>
                    <option value="4">My Officemates</option>
                  </select>
                </div><!-- form-group -->
                <button class="btn btn-sm btn-primary">Export</button>
              </div>
            </div><!-- tab-pane -->
          </div><!-- tab-content -->
        </div><!-- contact-sidebar-body -->
      </div><!-- contact-sidebar -->

      <div class="contact-content">
        <div class="contact-content-header">
          <nav class="nav">
            <a href="#counselorContact" class="nav-link active" data-toggle="tab">Counselor Detail</a>
            <a href="#counselorPersonality" class="nav-link" data-toggle="tab">Counselor Personality</a>
            <a href="#counselorPerformance" class="nav-link" data-toggle="tab">Counselor Performance</a>
          </nav>
          <a href="" id="contactOptions" class="text-secondary mg-l-auto d-xl-none"><i
              data-feather="more-horizontal"></i></a>
        </div><!-- contact-content-header -->

        <div class="contact-content-body">
          <div class="tab-content">

            <div id="counselorContact" class="tab-pane show active pd-20 pd-xl-25">
              <div class="d-flex align-items-center justify-content-between mg-b-25">
                <h6 class="mg-b-0">Personal Details</h6>
                <div class="d-flex">
                  <a href="#modalEditContact" data-toggle="modal"
                    class="btn btn-sm btn-white d-flex align-items-center mg-r-5"><i data-feather="edit-2"></i><span
                      class="d-none d-sm-inline mg-l-5"> Edit</span></a>
                  <a href="#modalDeleteContact" data-toggle="modal"
                    class="btn btn-sm btn-white d-flex align-items-center"><i data-feather="trash"></i><span
                      class="d-none d-sm-inline mg-l-5"> Delete</span></a>
                </div>
              </div>

              <div class="row">
                <div class="col-6 col-sm">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Firstname</label>
                  <p class="mg-b-0">Abigail</p>
                </div><!-- col -->
                <div class="col-6 col-sm">
                  <label
                    class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Middlename</label>
                  <p class="mg-b-0">Christensen</p>
                </div><!-- col -->
                <div class="col-sm mg-t-20 mg-sm-t-0">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Lastname</label>
                  <p class="mg-b-0">Johnson</p>
                </div><!-- col -->
              </div><!-- row -->

              <h6 class="mg-t-40 mg-b-20">Contact Details</h6>

              <div class="row row-sm">
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Mobile
                    Phone</label>
                  <p class="tx-primary tx-rubik mg-b-0">+1 290 912 3868</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Email
                    Address</label>
                  <p class="tx-primary mg-b-0">me@themepixels.me</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Counselor
                    Status</label>
                  <p class="tx-primary mg-b-0">ON BOARDING</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Job
                    Position</label>
                  <p class="mg-b-0">PARTTIME</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Home
                    Address</label>
                  <p class="mg-b-0">4658 Kenwood Place<br>Pompano Beach, FL 33060, United States</p>
                </div>

                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Profile
                    Link</label>
                  <p class="tx-primary mg-b-0">http://themepixels.me/</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Social
                    Profiles</label>
                  <nav class="nav nav-social">
                    <a href="" class="nav-link"><i data-feather="facebook"></i></a>
                    <a href="" class="nav-link"><i data-feather="instagram"></i></a>
                  </nav>
                </div><!-- col -->
              </div><!-- row -->
            </div>
            <div id="counselorPersonality" class="tab-pane pd-20 pd-xl-25">
              <div class="d-flex align-items-center justify-content-between mg-b-30">
                <h6 class="tx-15 mg-b-0">Counselor Profile &amp; Personality</h6>
                <a href="#modalEditContact" data-toggle="modal"
                  class="btn btn-sm btn-white d-flex align-items-center mg-r-5"><i data-feather="edit-2"></i><span
                    class="d-none d-sm-inline mg-l-5"> Edit Profile</span></a>
              </div>
              <div class="col-sm mg-t-20 mg-sm-t-30">
                <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">About Me</label>
                <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                  making it look like readable English.</p>
              </div>
              <div class="col-sm mg-t-20 mg-sm-t-30">
                <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">My Thoughts On
                  Counselling</label>
                <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                  making it look like readable English.</p>
              </div>
              <div class="col-sm mg-t-20 mg-sm-t-30">
                <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">What Motivates Me
                  Most</label>
                <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                  making it look like readable English.</p>
              </div>
              <div class="col-sm mg-t-20 mg-sm-t-30">
                <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">My Way To Handel
                  Stress</label>
                <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                  making it look like readable English.</p>
              </div>

            </div><!-- counselor personality tab-pane -->
            <div id="counselorPerformance" class="tab-pane pd-20 pd-xl-25">
              <div class="d-flex align-items-center justify-content-between mg-b-30">
                <h6 class="tx-15 mg-b-0">Call &amp; Message Logs</h6>
                <a href="#" class="btn btn-sm btn-white d-flex align-items-center"><i
                    class="icon ion-md-time mg-r-5 tx-16 lh--9"></i> Clear History</a>
              </div>
            </div><!-- counselor performance tab-pane -->
          </div><!-- tab-content -->
        </div><!-- contact-content-body -->

        <div class="contact-content-sidebar">
          <div class="clearfix mg-b-25">
            <div id="contactAvatar" class="pos-relative float-left">
              <div class="avatar avatar-xl"><span class="avatar-initial rounded-circle bg-gray-700 tx-normal">A</span>
              </div>
              <a href="" class="contact-edit-photo" data-toggle="tooltip" title="Upload Photo"><i
                  data-feather="edit-2"></i></a>
            </div>
          </div>
          <h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5">Abigail Johnson</h5>
          <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20">President &amp; CEO - ThemePixels, Inc.</p>
          <nav class="contact-call-nav mg-b-20">
            <a href="#" class="nav-call" data-toggle="tooltip" title="Make a Phone Call"><i
                data-feather="phone"></i></a>
            <a href="#" class="nav-msg" data-toggle="tooltip" title="Send Message"><i
                data-feather="message-square"></i></a>
          </nav><!-- contact-call-nav -->

          <hr class="mg-y-20">

          <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-15">Quick Actions</label>
          <nav class="nav flex-column contact-content-nav mg-b-25">
            <a href="" class="nav-link"><i data-feather="share"></i>Disable Counselor Profile</a>
            <a href="" class="nav-link"><i data-feather="star"></i>Restrict Booking</a>
          </nav>

        </div><!-- contact-content-sidebar -->
      </div><!-- contact-content -->

    </div><!-- contact-wrapper -->


    <div class="modal fade effect-scale" id="modalNewContact" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body pd-20 pd-sm-30">
            <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="tx-18 tx-sm-20 mg-b-20">Create New Contact</h5>
            <p class="tx-13 tx-color-03 mg-b-30">You can add more information than what you see here, such as address
              and birthday by clicking <span class="tx-color-02">Add More Fields</span> button below to bring up more
              options.</p>

            <div class="d-sm-flex">
              <div class="mg-sm-r-30">
                <div class="pos-relative d-inline-block mg-b-20">
                  <div class="avatar avatar-xxl"><span class="avatar-initial rounded-circle bg-gray-700 tx-normal"><i
                        class="icon ion-md-person"></i></span></div>
                  <a href="" class="contact-edit-photo"><i data-feather="edit-2"></i></a>
                </div>
              </div><!-- col -->
              <div class="flex-fill">
                <h6 class="mg-b-10">Personal Information</h6>
                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Firstname">
                </div><!-- form-group -->
                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Lastname">
                </div><!-- form-group -->

                <h6 class="mg-t-20 mg-b-10">Contact Information</h6>

                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Phone number">
                </div><!-- form-group -->
                <div class="form-group mg-b-10">
                  <input type="email" class="form-control" placeholder="Email address">
                </div><!-- form-group -->

                <h6 class="mg-t-20 mg-b-10">Notes</h6>
                <textarea class="form-control" rows="2" placeholder="Add notes"></textarea>
              </div><!-- col -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="wd-100p d-flex flex-column flex-sm-row justify-content-end">
              <div class="dropup mg-b-15 mg-sm-b-0 mg-sm-r-auto">
                <button type="button" class="btn btn-block bd bd-gray-300" data-toggle="dropdown">Add More Fields <i
                    class="icon ion-ios-arrow-up mg-l-5"></i></button>
                <div class="dropdown-menu tx-13">
                  <a href="" class="dropdown-item">Email</a>
                  <a href="" class="dropdown-item">Phone</a>
                  <a href="" class="dropdown-item">Address</a>
                  <a href="" class="dropdown-item">Custom</a>
                </div><!-- dropdown-menu -->
              </div>
              <button type="button" class="btn btn-primary mg-b-5 mg-sm-b-0">Save Contact</button>
              <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal">Discard</button>
            </div>
          </div><!-- modal-footer -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="modal fade effect-scale" id="modalEditContact" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body pd-20 pd-sm-30">
            <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="tx-18 tx-sm-20 mg-b-20">Edit Contact</h5>
            <p class="tx-13 tx-color-03 mg-b-30">You can add more information than what you see here, such as address
              and birthday by clicking <span class="tx-color-02">Add More Fields</span> button below to bring up more
              options.</p>

            <div class="d-sm-flex">
              <div class="mg-sm-r-30">
                <div class="pos-relative d-inline-block mg-b-20">
                  <div class="avatar avatar-xxl"><span
                      class="avatar-initial rounded-circle bg-gray-700 tx-normal">A</span></div>
                  <a href="" class="contact-edit-photo"><i data-feather="edit-2"></i></a>
                </div>
              </div><!-- col -->
              <div class="flex-fill">
                <h6 class="mg-b-10">Personal Information</h6>
                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Firstname" value="Abigail">
                </div><!-- form-group -->
                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Lastname" value="Johnson">
                </div><!-- form-group -->

                <h6 class="mg-t-20 mg-b-10">Contact Information</h6>

                <div class="form-group mg-b-10">
                  <input type="text" class="form-control" placeholder="Phone number" value="+1 234 567 8910">
                </div><!-- form-group -->
                <div class="form-group mg-b-10">
                  <input type="email" class="form-control" placeholder="Email address" value="me@themepixels.me">
                </div><!-- form-group -->

                <h6 class="mg-t-20 mg-b-10">Notes</h6>
                <textarea class="form-control" rows="2" placeholder="Add notes"></textarea>
              </div><!-- col -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="wd-100p d-flex flex-column flex-sm-row justify-content-end">
              <div class="dropup mg-b-15 mg-sm-b-0 mg-sm-r-auto">
                <button type="button" class="btn btn-block bd bd-gray-300" data-toggle="dropdown">Add More Fields <i
                    class="icon ion-ios-arrow-up mg-l-5"></i></button>
                <div class="dropdown-menu tx-13">
                  <a href="" class="dropdown-item">Email</a>
                  <a href="" class="dropdown-item">Phone</a>
                  <a href="" class="dropdown-item">Address</a>
                  <a href="" class="dropdown-item">Custom</a>
                </div><!-- dropdown-menu -->
              </div>
              <button type="button" class="btn btn-primary mg-b-5 mg-sm-b-0">Save Changes</button>
              <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- modal-footer -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div id="offCanvas3" class="off-canvas off-canvas-overlay off-canvas-right wd-lg-400 wd-350">
      <a href="#" class="close"><i data-feather="x"></i></a>

      <div class="pd-25 ht-100p tx-13" id="overlayScroll">
        <h6 class="tx-inverse mg-t-50 mg-b-25">Counselor Onboarding.</h6>
        <p class="mg-b-25">Please fill basic details of counselor to get started with profile.</p>
        <form id="newCounselor" action="">
          <div class="form-group">
            <label for="formGroupExampleInput" class="d-block">First Name</label>
            <input type="text" class="form-control" placeholder="Enter counselor first name" id="firstName">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="d-block">Middle Name</label>
            <input type="text" class="form-control" placeholder="Enter counselor middle name" id="middleName">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="d-block">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter counselor last name" id="lastName">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="d-block">Email</label>
            <input type="text" class="form-control" placeholder="Enter counselor Email" id="email">
          </div>
          <div class="form-group">
            <div data-label="Country Code & Phone Number" class="df-example demo-forms">
              <input type="text" class="form-control mt-2" id="countryCode" placeholder="counselor phone country code"
                aria-label="counselor phone number">
              <input type="text" class="form-control mt-2" id="phoneNumber" placeholder="counselor phone number"
                aria-label="counselor phone number">
            </div>
          </div>
          <div class="form-group">
            <div data-label="Counselor Address" class="df-example demo-forms">
              <input type="text" class="form-control mt-2" id="country" placeholder="Country" aria-label="Country">
              <input type="text" class="form-control mt-2" id="state" placeholder="State" aria-label="State">
              <input type="text" class="form-control mt-2" id="city" placeholder="City" aria-label="City">
              <input type="text" class="form-control mt-2" id="addressLine1" placeholder="Address Line 1"
                aria-label="Address Line 1">
            </div>
          </div>
          <button class="btn btn-primary btn-block" id="newCounselorSubmit">Submit</button>
        </form>
      </div>
    </div><!-- off-canvas -->

    <div class="modal fade effect-scale" id="modalDeleteContact" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Delete Contact</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="mg-b-0">Do you really want to delete this contact?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Continue Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  $(function () {
    'use strict'

    // The code below is for demo purposes only.
    // For you to not be confused, please refer to
    // Off-Canvas starter template in Collections

    $('.off-canvas-menu').on('click', function (e) {
      e.preventDefault();
      var target = $(this).attr('href');
      $(target).addClass('show');
    });


    $('.off-canvas .close').on('click', function (e) {
      e.preventDefault();
      $(this).closest('.off-canvas').removeClass('show');
    })

    $(document).on('click touchstart', function (e) {
      e.stopPropagation();

      // closing of sidebar menu when clicking outside of it
      if (!$(e.target).closest('.off-canvas-menu').length) {
        var offCanvas = $(e.target).closest('.off-canvas').length;
        if (!offCanvas) {
          $('.off-canvas.show').removeClass('show');
        }
      }
    });

    $('#newCounselor').on('submit', function (e) {
      e.preventDefault();
      console.log('Data Submitted');
      // ALL FIELD VALUES
      let firstName = $('#firstName').val();
      let middleName = $('#middleName').val();
      let lastName = $('#lastName').val();
      let email = $('#email').val();
      let countrycode = $('#countryCode').val();
      let phoneNumber = $('#phoneNumber').val();
      let country = $('#country').val();
      let state = $('#state').val();
      let city = $('#city').val();
      let add1 = $('#addressLine1').val();

      var BASEURL = '<%= process.env.BASEURL %>';

      let data = {
        
      }

      axios.post(`${BASEURL}new-counselor`, {
        firstName: firstName,
        middleName: middleName,
        lastName: lastName,
        counselorEmail: email,
        counselorPhoneNumber: phoneNumber,
        counselorPhoneCountryCode: countrycode,
        country: country,
        state: state,
        city: city,
        address: add1
      }).then((response) => {
        console.log(response);
      }).catch((error) => {
        console.log(error);
      })

      console.log({ firstName: firstName, middleName: middleName, lastName: lastName, email: email, countrycode: countrycode, phoneNumber: phoneNumber, country: country, state: state, city: city, add1: add1 });

    })
  });
</script>