<section class="faq-search-box mt-5">
    <div class="container">
        <div class="faq-search-box__inner">
            <div class="faq-search-box__shape float-bob-x">
                <img src="<%- process.env.BASEURL %>/assets/websiteAssets/images/shapes/faq-search-shape-1.png" alt="">
            </div>
            <div class="faq-search-box__left">
                <h3 class="faq-search-box__title">Frequently Asked Questions</h3>
                <p class="faq-search-box__text">Having lot of questions in mind is obvious. It shows how curious
                    you are in particular things.</p>
                <form class="faq-search-box__form">
                    <div class="faq-search-box__form-input">
                        <input type="search" placeholder="Search Here">
                        <button type="submit"><i class="icon-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="faq-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="faq-page__left">
                    <div class="faq-page__content">
                        <div class="faq-page__content-bg"
                            style="background-image: url(<%- process.env.BASEURL %>/assets/websiteAssets/images/backgrounds/faq-page-content-bg.jpg);">
                        </div>
                        <div class="faq-page__call-icon">
                            <span class="icon-phone-call"></span>
                        </div>
                        <h4 class="faq-page__content-title">Do You Still <br> Have Questions?</h4>
                        <div class="faq-page__call">
                            <p class="faq-page__call-sub-title">Call Anytime</p>
                            <h5 class="faq-page__call-number"><a href="tel:9288009850">+92 (8800) - 9850</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="faq-page__right">
                    <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Is Better Help Therapy Right for You?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion  active">
                            <div class="accrodion-title">
                                <h4>What are the Different Types of Psychotherapy?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>What is a Psychological Evaluation?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>How Often do you have Difficulty Sustaining your Attention?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>How Often are you Easily Distracted by External Stimuli?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Were Several of the Symptoms Present Prior to Age 12?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>In a Mental Health Crisis?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>There are many variations of passages of available but the have suffered
                                        alteration in that some form by injected randomised words which don’t
                                        look even as slightly believable now.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>