<script>
    document.title = "TherapyAmigo | Login"
</script>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="<%= process.env.BASEURL %>" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="<%- process.env.BASEURL %>img/brandLogo.svg" alt="">
                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to TherapyAmigo! 👋</h4>
                    <p class="mb-4">Please sign-in to your account and start the therapy</p>

                    <form id="formAuthentication" class="mb-3" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                placeholder="Enter your email" autofocus />
                            <p class="errorMsg" id="invalidEmail">Invalid Email Address</p>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                <a href="<%- process.env.BASEURL %>forgot-password">
                                    <small>Forgot Password?</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <p class="errorMsg" id="invalidPassword">Password is Required*</p>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" />
                                <label class="form-check-label" for="remember-me"> Remember Me </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="<%- process.env.BASEURL %>register">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

<!-- LOGIN PROCESS -->

<script>
    $('#invalidEmail').css('display', 'none');
    $('#invalidPassword').css('display', 'none');
    // FORM VALIDATION VARIABLE
    let isEmailValid = false;
    let isPasswordValid = false;
    // FORM DATA
    let email;
    let password;
    $('#email').on('input', function (evt) {
        let regex = new RegExp(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g);
        if (regex.test(evt.target.value)) {
            $('#invalidEmail').css('display', 'none');
            isEmailValid = true
        } else {
            $('#invalidEmail').css('display', "block")
            isEmailValid = false
        }
        email = evt.target.value
    })

    $('#password').on('input', function (evt) {
        if (evt.target.value.length != 0) {
            $('#invalidPassword').css('display', 'none');
            isPasswordValid = true
        } else {
            $('#invalidPassword').css('display', 'block');
            isPasswordValid = false
        }
        password = evt.target.value
    })

    $('#formAuthentication').submit(function (e) {
        e.preventDefault();
        if (isEmailValid && isPasswordValid) {
            console.log("ALL VALID", email, password);
        }
    })
</script>