<script>
    document.title = "TherapyAmigo | Reset Password"
</script>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="<%- process.env.BASEURL %>" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="<%- process.env.BASEURL %>img/brandLogo.svg" alt="">
                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Reset Password.. 🔒</h4>
                    <p class="mb-4">Enter your new password to update.</p>
                    <form id="formAuthentication" class="mb-3">
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <p class="errorMsg" id="invalidPassword">Please Enter Valid Password with min 6 character ,
                                must have 1
                                special character, 1 uppercase and 1 lowercase character.</p>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Confirm Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="confirm-password" class="form-control"
                                    name="confirm-password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <p class="errorMsg" id="invalidConfirmPassword">Password did not matched</p>
                        </div>
                        <button class="btn btn-primary d-grid w-100">Reset Password</button>
                    </form>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>

<script>
    $('#invalidPassword').css('display', 'none');
    $('#invalidConfirmPassword').css('display', 'none');
    // FORM VALIDATION VARIABLE
    let isPasswordValid = false;
    let isConfirmPasswordvalid = false;
    // FORM DATA
    let password;
    let confirmPassword;


    $('#password').on('input', function (evt) {
        let passRegex = new RegExp(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)
        if (passRegex.test(evt.target.value)) {
            $('#invalidPassword').css('display', 'none');
            isPasswordValid = true
        } else {
            $('#invalidPassword').css('display', 'block');
            isPasswordValid = false
        }
        password = evt.target.value
    })

    $('#confirm-password').on('input', function (evt) {
        if (password == evt.target.value) {
            $('#invalidConfirmPassword').css('display', 'none');
        } else {
            $('#invalidConfirmPassword').css('display', 'block');
        }
    })

    $('#formAuthentication').submit(function (e) {
        e.preventDefault();
        if (isPasswordValid && isConfirmPasswordvalid) {
            console.log("ALL VALID", email, password);
        }
    })
</script>